ErrorDocument 404 /404.html

# ENABLE DIRECTORY VIEWS
Options +Indexes

AddType image/svg+xml svg svgz
AddEncoding gzip svgz

# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
 order allow,deny
 deny from all
</Files>

# DIRECTORY CUSTOMIZATION
<IfModule mod_autoindex.c>

  # SET INDEX OPTIONS
  IndexOptions IgnoreCase FancyIndexing HTMLTable SuppressHTMLPreamble FoldersFirst VersionSort NameWidth=* DescriptionWidth=* XHTML IconHeight=16 IconWidth=16

  # Other options.
  # IconsAreLinks SuppressColumnSorting

  # SET DISPLAY ORDER
  IndexOrderDefault Ascending Name

  IndexStyleSheet /fancy-index/style.css

  # SPECIFY HEADER FILE
  HeaderName /fancy-index/header.html

  # SPECIFY FOOTER FILE
  ReadmeName /fancy-index/footer.html

  # IGNORE THESE FILES
  IndexIgnoreReset ON
  IndexIgnore .ftpquota .DS_Store .git

  # DEFAULT ICON
  DefaultIcon /fancy-index/icons/file-text.svg

  AddIcon /fancy-index/icons/back.svg ..
  AddIcon /fancy-index/icons/github.svg .github
  AddIcon /fancy-index/icons/nodejs.svg node_modules
  AddIcon /fancy-index/icons/file-directory.svg ^^DIRECTORY^^


# Icons
  AddIcon /fancy-index/icons/file-binary.svg .com .exe
  AddIcon /fancy-index/icons/file-code.svg .c .h .mustache .rust .source .apache .yml .jade .xml .html .htm .markdown .md
  AddIcon /fancy-index/icons/file-media.svg .png .jpg .jpeg .webp .gif .bmp .mp4 .webm .ogv .mov .ico
  AddIcon /fancy-index/icons/file-pdf.svg .pdf
  AddIcon /fancy-index/icons/file-text.svg .txt .srt README readme Procfile
  AddIcon /fancy-index/icons/file-zip.svg .zip .z .gz .Z .tgz .tar.gz .tar .rar
  AddIcon /fancy-index/icons/css.svg .css
  AddIcon /fancy-index/icons/java.svg .java
  AddIcon /fancy-index/icons/js.svg .js
  AddIcon /fancy-index/icons/mustache.svg .mustache
  AddIcon /fancy-index/icons/php.svg .php
  AddIcon /fancy-index/icons/python.svg .py
  AddIcon /fancy-index/icons/rust.svg .rust
  AddIcon /fancy-index/icons/scss.svg .scss
  AddIcon /fancy-index/icons/svg.svg .svg .svgx .eps
  AddIcon /fancy-index/icons/git.svg *.gitignore *.gitattributes
  AddIcon /fancy-index/icons/terminal.svg .sh .bash
  AddIcon /fancy-index/icons/database.svg .sql .mysql .sqlite .dsql .db
  AddIcon /fancy-index/icons/file-word.svg .doc .docx
  AddIcon /fancy-index/icons/file-excel.svg .xls .xlsx

  
  # DEFAULT DESCRIPTION
  # AddDescription "[<span class='description'>Unknown item</span>]" *
</IfModule>
